<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_meta_data' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
   <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
